<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#home">Bestudy</a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#headerwrap" class="smoothScroll">Home</a></li>
          <li> <a href="#about" class="smoothScroll"> About</a></li>
          <li> <a href="#services" class="smoothScroll"> Services</a></li>
          <li> <a href="#team" class="smoothScroll"> Team</a></li>
          <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix"> <i class="fa fa-dashboard icon"></i>
    <h1>あなたにとって最高の学習を人工知能が提供</h1>
    <p>学ぶ意欲のある人が効率的に学べ、やる気を成果に変換するお手伝いをします。</p>
    <a href="/auth/facebook" class="smoothScroll btn btn-lg text-center">試してみる</a>
  </header>
</div>
<!-- /headerwrap --> 

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">ABOUT US</h2>
      <hr>
      <div class="col-md-6"> <%= image_tag 'about/about1.jpg' %> </div>
      <div class="col-md-6">
        <h3>私達は</h3>
        <p>私たちは人工知能と教育工学の研究者達です。</p>
        <h3>何がすごいのか</h3>
       <p>
私たちは人工知能と教育工学を扱う専門家集団です。
「何かに向かって努力する人達を応援したい。この世の中をよ
りワクワクする世界にしたい。」
という理念をもとに人々の学習を人工知能と教育工学の技術
で、全く新しい学習体験を提供します。</p>
      </div>
    </div>
    <!-- row --> 
    </div>
    <a href="/auth/facebook" class="smoothScroll btn btn-lg center-block">試してみる</a>
</div>
<!-- container --> 

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">OUR SERVICES</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-lightbulb-o fa-3x"></i>
        <h3>人工知能が最も効率の良い<br>学習プロセスを設計</h3>
        <p>いくつかの質問に答えるだけ、あなたにとって最も効率よい学習方法を提示。個人個人の最適なコースで学習を効率化。</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-copy fa-3x"></i>
        <h3>１コマ１分で読めるから<br>いつでもどこでも学習可能</h3>
        <p>それぞれの授業は1コマ1分の小クラスで構成されているからスキマ時間でどこでも気軽に学習可能</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-tasks fa-3x"></i>
        <h3>利用頻度や進捗率から<br>最適なプランを常に提案</h3>
        <p>使えば使うほどあなたの特性を理解し、常に最適なプランを提案</p>
      </div>
    </div>
    <!-- row --> 
    <a href="/auth/facebook" class="smoothScroll btn btn-lg">試してみる</a>
  </div>
</div>
<!-- container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">CONTACT US</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>慶應大学矢上キャンパス24棟518号室</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>kenji.t.dream＠gmail.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> 080-2180-1575 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
            </div>
          </div>
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button class="btn btn btn-lg" type="submit">Send Message</button>
            </div>
          </div>
        </form>
        <!-- form --> 
      </div>
    </div>
    <!-- row --> 
    <a href="/auth/facebook" class="smoothScroll btn btn-lg">試してみる</a> </header>    
  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <span class="copyright">Copyright &copy; 2015 Bestudy.<a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></span> </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
