.talk-container
  h2 ベスタくん
  ul

  = form_tag(judge_path, id: 'form-judge', remote: true) do
    = hidden_field_tag :choices, '', id: 'input-choices'

javascript:
  answers = [];
  answers = JSON.parse('#{ raw JSON.generate(Question.parent_question.shuffle.first.answers_scheme) }');
  question_body = '#{ Question.parent_question.first.body }';

coffee:
  setTimeout(->
    window.talk.appendMessage(true, 'はじめまして。ぼくはベスタくんです。\n勉強熱心なあなたの手助けにきました。')
  , 2000)
  setTimeout(->
    window.talk.appendMessage(true, question_body, answers)
  , 4000)

