<h2>興味のある分野を選択してください</h2>
<form action="/home/done" method="post">
<% Genre.where(parent_genre_id: nil).each do |parent| %>
  <h3><%= parent.name %></h3>
  <ul class="list-group">
    <% Genre.where(parent_genre_id: parent.id).each do |leaf| %>
      <li class="list-group-item">
        <span class="checkbox">
          <label>
            <%= check_box 'genre', leaf.id , {}, true, false %> <%= leaf.name %>
          </label>
        </span>
    </li>
    <% end %>
  </ul>
<% end %>
<button type="submit" class="btn btn-default">決定</button>
