@import 'compass'

.result-container
  text-align: center
  position: relative
  .radar
    width: 100% !important
    text-align: center
    margin-bottom: 30px
    margin-top: 6px
    canvas
      @include border-radius(6px)
  .skill-list-container
    text-align: left
    padding: 0 10px
    > ul
      li
        font-size: 14px
        line-height: 16px
        font-family: monospace
        span
          margin-right: 6px
        span.star
          color: yellow
        span.circle
          color: rgb(76, 76, 232)
        span.triangle
          color: rgb(50, 169, 50)

  h2
    margin: 0
    padding: 4px 10px
    text-align: center
    color: white
    font-size: 20px
    border-bottom: 1px solid rgb(0, 255, 3)
  .recommend-container
    padding-top: 4px
    > img
      width: 70px
      margin-bottom: 8px
    span.strong
      font-size: 25px
      display: block
  .serif
    font-size: 14px
    color: white
    @include text-shadow(1px 1px rgb(166, 67, 67))
  ul
    list-style: none
    padding-left: 0
    width: 100%
    margin-top: 10px
    li.lesson-item
      > a
        background-size: 20px 20px
        background-repeat: no-repeat
        background-position: 98% 50%
        background-image: url(asset_path('arrow-right-white.png'))
        display: inline-block
        width: 98%
        position: relative
        padding-left: 80px
        padding-right: 30px
        border: 1px solid #00C302
        height: 100px
        overflow: hidden
        @include border-radius(4px)
        > img
          width: 100%
          position: absolute
          display: inline-block
          left: 0
          top: 0
          width: 80px
          height: 80px
          @include border-top-left-radius(4px)
          @include border-bottom-right-radius(4px)

      .detail-container
        padding: 2px
        .title
          font-size: 15px
          font-weight: bold
          color: white
          width: 100%
          line-height: 16px
          text-align: left
          max-height: 32px
          overflow: hidden
          color: rgb(141, 255, 128)
          text-decoration: underline
          cursor: pointer
        .description
          color: white
          font-size: 12px
          text-align: left
          line-height: 15px
          text-overflow: ellipsis
          white-space: pre-line
          max-height: 60px
          display: block
          overflow: hidden
        .author
          color: rgb(187, 187, 187)
          font-size: 11px
          line-height: 11px
          position: absolute
          bottom: 1px
          left: 1px
        .price
          display: inline-block
          position: absolute
          bottom: 1px
          right: 1px
          font-size: 12px
          line-height: 12px
          font-weight: bold
          color: rgb(239, 255, 0)

.detail-lesson-container
  > img
    width: 100%
  .header
    position: fixed
    top: 0
    width: 100%
    height: 34px
    background-color: rgba(0, 0, 0, 0.08)
    line-height: 34px
    color: white
    font-weight: bold
    padding: 0 10px
    > a, > a:hover, > a:active, > a:visited
      color: white
      text-decoration: none
  .lesson-info-container
    line-height: 30px
    background-color: white
    font-size: 13px
    height: 30px
    span.student
      position: absolute
      right: 10px
      color: gray
  h2
    font-size: 20px
    padding: 4px
    margin: 1px 0
    color: rgb(100, 100, 100)
    background-color: white
    font-weight: normal
    @include text-shadow(none)
  .content-container
    white-space: pre-line
    padding: 4px
    padding-bottom: 30px
    font-size: 14px
    color: rgb(100, 100, 100)
    background-color: white
  .purchase-container
    position: fixed
    bottom: 0
    width: 100%
    height: 50px
    background-color: rgb(22, 34, 25)
    border-top: 1px solid rgb(100, 255, 120)
    > a
      display: inline-block
      background-color: #3A6EDF
      color: rgb(255, 255, 249)
      margin: 4px
      height: 40px
      font-size: 18px
      font-weight: bold
      padding: 0 10px
      line-height: 40px
      @include border-radius(4px)
    > span.price
      float: right
      line-height: 40px
      margin: 4px 8px 4px 4px
      color: white
