@import 'compass'

$message-background-color: #2B4133
$message-self-background-color: rgb(87, 67, 22)

.talk-container
  position: relative
  h2
    margin: 0
    padding: 4px 10px
    text-align: center
    color: white
    font-size: 20px
    border-bottom: 1px solid rgb(0, 255, 3)

  ul
    list-style: none
    padding: 8px 5px 5px 0
    li.chat
      position: relative
      margin-bottom: 10px
      img
        width: 30px
        height: 30px
        display: inline-block
        position: absolute
        left: 0
        top: 0
      .message
        white-space: pre-line
        display: inline-block
        margin-left: 40px
        width: calc(100% - 40px)
        padding: 2px 8px
        background-color: $message-background-color
        color: rgb(236, 236, 236)
        @include box-shadow(1px 1px rgb(91, 161, 94))
        &:before
          content: ""
          position: absolute
          top: 6px
          left: 20px
          border: 12px solid transparent
          border-right: 12px solid $message-background-color
        ul.question-selection
          font-size: 14px
          list-style: circle
          padding-left: 30px
      &.self
        .message
          margin-left: 40px
          margin-right: 20px
          width: calc(100% - 60px)
          background-color: $message-self-background-color
          @include box-shadow(1px 1px rgb(157, 129, 87))
          &:before
            left: auto
            right: 8px
            top: 2px
            border-right: 0
            border-left: 12px solid $message-self-background-color

.select-container
  text-align: center
  margin: 20px 0 0 0
  width: 100%
  ul.answer-selection
    list-style: none
    padding-left: 0
    width: 90%
    display: inline-block
    li
      padding: 4px 0
      background-color: #8E9060
      color: white
      font-weight: bold
      margin-bottom: 1px
      @include border-radius(2px)
      cursor: pointer
      &.active
        border: 3px solid rgb(104, 176, 121)
        background-color: rgb(23, 68, 32)
        font-weight: bold


