<div class="col-xs-12 col-sm-6 col-md-3">
  <% @data.each do |d| %>
    <a href="/hoge/index">
      <div class="box clearfix">
        <div class="col-xs-4 col-sm-6">
          <img src="<%= d[:pic] %>" alt="" class="img-responsive" style="width: 100%;vertical-align:middle;" />
        </div>
        <h4 class="col-xs-8 col-sm-12"><%= d[:title] %></h4>
        <div class="col-xs-8 col-sm-12"><%= d[:sentence] %></div>
      </div>
    </a>
  <% end %>
</div>
